@import url(http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

body {
  font-family: Arial, sans-serif;
  background-size: cover;
  margin: 20px;
}

section {
  clear: both;
}

header {
  width: auto;
  color: #000;
}

.navigation {
  height: 1100px;
}

.createUserForm {
  text-align: center;
}

.content {
  display: inline;
  float: right;
}

#leftBarButton {
  margin-top: 5px;
  margin-left: 5px;
  margin-right: 5px;
  width: 120px;
}

#leftBarButton:hover {
  background: #B9090B;
  color: #fff;
  border-color: #B9090B;
}

#leftBar{
  width:132px;
  min-width:132px;
  position:relative;
  display: inline-block;
  z-index:100;
  font-size:14px;
  line-height:1.5;
  font-family:OpenSans,"Helvetica Neue",Helvetica,Arial,Geneva,sans-serif;
  font-weight:300;
  height:auto;
  margin:0;
  padding:0;
  background:#111;
  color:#000;
  overflow:hidden;
  float: left;
}

#searchForm {
  float: left;
}

#loginForm {
  float: right;
}

.thumb {
  margin-bottom: 30px;
}

.page-header {
  text-align: left;
  color: #111;
}

.thumbnail {
  width: 200px;
  height: 300px;
}

h1 {
  text-align: center;
  font-family: Tahoma, Arial, sans-serif;
  color: orange;
  margin: 100px 0;
  font-size: 1.5em;
  margin: 10px; 
}

.box {
  width: 20%;
  margin: 0 auto;
  background: rgba(255,255,255,0.2);
  padding: 35px;
  border: 2px solid #fff;
  border-radius: 20px/50px;
  background-clip: padding-box;
  text-align: center;
}

.button {
  font-size: 1em;
  padding: 10px;
  color: #fff;
  border: 2px solid orange;
  border-radius: 20px/50px;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease-out;
}
.button:hover {
  background: orange;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  height: 300px;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: orange;
}
.popup .content {
  height: 200px;
  overflow: auto;
}


fieldset, label { 
  margin: 0;
  padding: 0;
}

/****** Style Star Rating Widget *****/

.rating { 
  border: none;
  float: left;
}

.rating > input { 
  display: none;
} 
.rating > label:before { 
  margin: 5px;
  font-size: 1.25em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

.rating > .half:before { 
  content: "\f089";
  position: absolute;
}

.rating > label { 
  color: #ddd; 
  float: right; 
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label { color: #FFED85;  } 