header {
	background-color: #F00;
}

section {
	width: 70%;
	background-color: #0F0;
	float: left;
}

aside {
	width: 30%;
	background-color: #0FF;
	float: right;
}

footer {
	background-color: #00F;
	clear: both;
}