<!DOCTYPE html>
<html ng-app="movieApp">
<head>
	<title>Notflix</title>
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<script src="js/angular.min.js"></script>
	<script src="js/app.js"></script>
	<script src="js/jquery-1.11.3.min.js"></script>
	<script src="js/requests.js"></script>
</head>
<body>
	<div id="leftBar">
		<img src="images/logo.png">
		<div class="navigation">
			<form action="createuser.html">
				<input class="btn btn-default" id="leftBarButton" type="submit" value="Create user">
			</form>
			<a class="btn btn-default" id="leftBarButton" href="#userList">Show users</a>
		</div>
	</div>
	<div>
		<form id="searchForm" method="post" class="form-inline">
			<input ng-model="query" class="form-control"	id="searchBar" type="text" placeholder="Search for movies..." autofocus>
		</form>
		<button class="btn btn-default" id="submitButton">Submit</button>
		<form id="loginForm" action="" class="form-inline">
			<input class="form-control" type="text" id="nickname" name="nickname" placeholder="Nickname">
			<input class="form-control" type="password" id="password" name="password" placeholder="Password">
		</form>
		<p id="result"></p>
	</div>
	<div class="container">
		<div class="row">
			<div id="header" class="col-lg-12">
				<h1 class="page-header">Movies</h1>
			</div>
			<div id="movieContainer" class="col-md-12 thumb" ng-controller="moviesController">
				<div id="centerWrapper">
					<a id="movie" class="" href="#{{movie.title}}" ng-repeat="movie in movies | filter: query">
						<img id="moviePoster" class="img-responsive" src="{{movie.poster}}" alt="Poster"/>
						<fieldset name="{{movie.title}}" class="rating">
							<input type="checkbox" id="star5-{{movie.title}}" name="rating" value="5" /><label class = "full" for="star5-{{movie.title}}" title="Awesome - 5 stars"></label>
							<input type="checkbox" id="star4half-{{movie.title}}" name="rating" value="4 and a half" /><label class="half" for="star4half-{{movie.title}}" title="Pretty good - 4.5 stars"></label>
							<input type="checkbox" id="star4-{{movie.title}}" name="rating" value="4" /><label class = "full" for="star4-{{movie.title}}" title="Pretty good - 4 stars"></label>
							<input type="checkbox" id="star3half-{{movie.title}}" name="rating" value="3 and a half" /><label class="half" for="star3half-{{movie.title}}" title="Meh - 3.5 stars"></label>
							<input type="checkbox" id="star3-{{movie.title}}" name="rating" value="3" /><label class = "full" for="star3-{{movie.title}}" title="Meh - 3 stars"></label>
							<input type="checkbox" id="star2half-{{movie.title}}" name="rating" value="2 and a half" /><label class="half" for="star2half-{{movie.title}}" title="Kinda bad - 2.5 stars"></label>
							<input type="checkbox" id="star2-{{movie.title}}" name="rating" value="2" /><label class = "full" for="star2-{{movie.title}}" title="Kinda bad - 2 stars"></label>
							<input type="checkbox" id="star1half-{{movie.title}}" name="rating" value="1 and a half" /><label class="half" for="star1half-{{movie.title}}" title="Meh - 1.5 stars"></label>
							<input type="checkbox" id="star1-{{movie.title}}" name="rating" value="1" /><label class = "full" for="star1-{{movie.title}}" title="Sucks big time - 1 star"></label>
							<input type="checkbox" id="starhalf-{{movie.title}}" name="rating" value="half" /><label class="half" for="starhalf-{{movie.title}}" title="Sucks big time - 0.5 stars"></label>
						</fieldset>
					</a>
				</div>
			</div>
		</div>
	</div>
	<div ng-controller="moviesController">
		<div id="{{movie.title}}" class="overlay" ng-repeat="movie in movies">
			<div class="popup">
				<h2>{{movie.title}}</h2>
				<a class="close" href="#">X</a>
				<div class="content">
					{{movie.description}} <br>
					Rating: {{movie.rating}}
				</div>
			</div>
		</div>
	</div>

	<div ng-controller="userListController">
		<div id="userList" class="overlay">
			<div class="popup">
				<h2>Users</h2>
				<a class="close" href="#">X</a>
				<div class="content">
					<p ng-repeat="user in users">
						Firstname: {{user.surname}}<br>
						Lastname: {{user.lastname}}<br>
						Nickname: {{user.nickname}}
					</p>
				</div>
			</div>
		</div>
	</div>
</body>
</html>